body{
    margin: 0;
    padding: 0;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    width: 100%; /*ancho*/
    height: 60px; /*alto*/
}

header nav {
    display:flex;
    justify-content: flex-end;
}

header nav .nav-right-sect{
    width: 250px;
    height: auto;
    display: flex;
    list-style: none; /*elimina puntitos*/
    justify-content: center;
    align-items: center;
}

a{
    text-decoration: none;
    cursor:pointer;  /*Cambia el cursor de la flecha a la manita*/
}

nav .nav-right-sect a{
    margin-right: 10px;
}

nav .nav-right-sect .menu{
    background-image: url(https://img.icons8.com/ios-glyphs/90/000000/circled-menu.png);
    width: 30px;
    height: 30px;
    background-size: contain;

}

/*.carac{
    width: 30px;
}*/
.cir{
    border-radius: 60%;
    width: 30px;
}

main{
    margin-top: 50px;
    text-align: center;
}

main .main-logo{
    width: 530px;
    margin: 0 auto;
    margin-bottom: 30 px;
    /*height: 100px;*/
  
}

main .main-logo img{
    width: 310px;
    height: 110px;
    
}

main .main-input{
    width: 530px;
    margin: 0 auto;
    margin-bottom: 35 px;
}

main .main-input-container{
    width: 500px;
    border-radius: 80px;
    border: 1px solid #dfe1e5;
    display: flex;
    justify-content: center;
    align-items: center;
}

main .main-input input{
    border: none;
    width: 450px;
    height: 40px;
    outline: none;
}

main .main-input-container:hover{
    box-shadow: 0px 1px 1px 1px #20212444;
}

main .main-input .search-icon{
    background-image: url("https://img.icons8.com/android/24/000000/search.png");
    background-position: center;
    background-size: contain;
    width: 15px;
    background-repeat: no-repeat;
    height: 20px;
}

main .main-input .micro-icon{
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/e/e8/Google_mic.svg/726px-Google_mic.svg.png");
    width: 18px;
    height: 18px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

}

main .main-input .cam-icon{
    background-image: url("https://static.wikia.nocookie.net/logopedia/images/2/2b/Google_Lens_2021.svg");
    width: 18px;
    height: 18px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

main .main-buttons{
    width: 550px;
    margin:0 auto;
}

main .main-buttons div{
    display: inline-block;
}

main .main-buttons button{
    border: none;
}

main .main-buttons button{
    border: 0;
    height: 36px;
    /* Fondo de botones */
    background-color: #f8f9fa;
    font-size: 14px;
    /* Color de letras antes de hover */
    color: #3c4043;
    /* Redondeamos botones */
    border-radius: 4px;
    /* Margen interno */
    padding: 0 15px;
    /* Margen entre botones */
    margin-right: 15px;
    border: 1px solid #f8f9fa;
}

main .main-buttons button:hover{
    box-shadow:0 1px 1px rgba(0,0,0,.1);
    /* background-color:#f8f9fa; */
    /* Cambia borde al hacer hover */
    border:1px solid #dadce0;
    /* Cambia color letras (muy leve) al hacer hover */
    color:#202124;
    cursor:pointer;
}


h1{
    font-family: Arial, Helvetica, sans-serif;
    justify-content: center;
}
.C1{
    color:rgb(50, 94, 189);
    font-size: 60px;
}

.C2{
    color:red;
    font-size: 45px;
}

.C3{
    color:yellow;
    font-size: 45px;
}

.C4{
    color:rgb(50, 94, 189);
    font-size: 45px;
}

.C5{
    color:green;
    font-size: 45px;
}

.C6{
    color:red;
    font-size: 45px;
}


/* >>>>>>>>>>>  Footer <<<<<<<<<<<*/
footer{
    background-color: #f2f2f2;
    width: 100%;
    height: 50px;
    position: absolute;
    font-size: 12px;
    border-top: 1px solid #e4e4e4;

    /* Footer dividido en columnas*/
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    bottom: 0;
}

footer ul{
    margin: 10px;
    list-style: none;
    display: flex;
    padding-left: 0px;
}

footer .footer-left{
    justify-self: left;
}

footer .footer-right{
    justify-self: right;
}

footer ul li a{
    color: #70757a;
    margin: 10px;
}